.header-slide {
    background-image: url("../../../assets/img/slide-header.jpg");
    /* height: 770px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.layer {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.2));
}

.bgr-gradient {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.01))
}

.text-shadow {
    text-shadow: 1px 1px 1px #333;
}